/*index.css*/
body {
    background-color: #f7f8fc;
}

* {
    /* font-family: 'Noto Sans JP' !important; */
    font-family: 'Heebo', sans-serif !important;
}
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f8f8f8;
    min-height: 100vh;
}


.App-header {
    background-color: #282c34;
    color: white;
    padding: 20px;
}
